<div class="container mt-5">
  <h2 class="create-restaurant-page">修改餐廳資訊</h2>

  <div class="container m-5">
    <div class="row nowrap">
      <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">

        <label for="name">餐廳名稱:</label>
        <input type="text" placeholder="鼎泰豐" id="name" name="name" value="{{ restaurant.name }}"><br><br>
        <label for="name_en">英文名稱:</label>
        <input type="text" id="name_en" placeholder="Din Tai Fung" name="name_en"
          value="{{ restaurant.name_en }}"><br><br>
        <label for="category">餐飲分類:</label>
        <input type="text" id="category" placeholder="中式餐廳" name="category" value="{{ restaurant.category }}"><br><br>
        <label for="image">圖片網址:</label>
        <input type="text" id="image" name="image" value="{{ restaurant.image }}"><br><br>
        <label for="location">餐廳地址:</label>
        <input type="text" id="location" placeholder="台北市信義路二段194號" name="location"
          value="{{ restaurant.location }}"><br><br>
        <label for="phone">聯絡電話:</label>
        <input type="text" id="phone" placeholder="02-2321-8928" name="phone" value="{{ restaurant.phone }}"><br><br>
        <label for="google_map">google map網址:</label>
        <input type="text" id="google_map" name="google_map" value="{{ restaurant.google_map }}"><br><br>
        <label for="rating">餐廳評價:</label>
        <input type="text" id="rating" placeholder="1~5" name="rating" value="{{ restaurant.rating }}"><br><br>
        <label for="description">餐廳簡述:</label>
        <textarea class="form-control" name="description" placeholder="請輸入餐廳介紹"
          style="height: 150px">{{ restaurant.description }}</textarea><br><br>

        <button type="submit" class="btn btn-success">儲存</button>
        <a href="/" class="btn btn-primary">返回首頁</a>
      </form>
    </div>
  </div>
</div>